@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Oleo+Script|Yanone+Kaffeesatz:200');

*
{
    font: inherit;
    font-size: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;
}

body {
	padding: 10px;

	width: 100vw;
    height: 100vh;
}

/*
 /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$      
| $$_____/| $$__  $$ /$$__  $$| $$$ | $$|__  $$__/      
| $$      | $$  \ $$| $$  \ $$| $$$$| $$   | $$         
| $$$$$   | $$$$$$$/| $$  | $$| $$ $$ $$   | $$         
| $$__/   | $$__  $$| $$  | $$| $$  $$$$   | $$         
| $$      | $$  \ $$| $$  | $$| $$\  $$$   | $$         
| $$      | $$  | $$|  $$$$$$/| $$ \  $$   | $$         
|__/      |__/  |__/ \______/ |__/  \__/   |__/      
*/

#logo
{
    width: 60%;
    margin: 0 auto;
}

#logo img
{
    width: 100%;
}

#title_wrap
{
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

}

#title-rest
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3.5rem;
}

.hr-wrap
{
	padding: 10px;
}

.center-text
{
    text-align: center;
}


.hr-wrap
{
    width: 80%;
    margin: 0 auto;
}


/*
 /$$      /$$ /$$$$$$$$ /$$   /$$ /$$   /$$
| $$$    /$$$| $$_____/| $$$ | $$| $$  | $$
| $$$$  /$$$$| $$      | $$$$| $$| $$  | $$
| $$ $$/$$ $$| $$$$$   | $$ $$ $$| $$  | $$
| $$  $$$| $$| $$__/   | $$  $$$$| $$  | $$
| $$\  $ | $$| $$      | $$\  $$$| $$  | $$
| $$ \/  | $$| $$$$$$$$| $$ \  $$|  $$$$$$/
|__/     |__/|________/|__/  \__/ \______/ 
*/

#menu_toggle
{
    display: none;
}

#toggle_button
{
    position: fixed;
    bottom: -1px;
    left: -5px;

    width: 4rem;
}

#menu
{
    
    position: fixed;
    bottom: 63px;
    left: -5px;

    display: none;
}

#menu li
{
    margin: 10px;

    list-style: none;

    background-color: #eee;
    width: 200px;
    border-width: 15px;
    border-style: solid;
    border-color: #eee;
    border-radius: 100px;

    text-align: center;

    box-shadow: 2px 2px 5px #999;

}

#menu li a
{
    text-decoration: none;
    color: #777;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;

}

#port_tab
{
	transform: translate(15px);
}

#about_tab 
{
	transform: translate(30px);
}

#menu_toggle:checked + #menu
{
    display: block;
}

/*
 /$$$$$$$$ /$$       /$$$$$$$$ /$$   /$$
| $$_____/| $$      | $$_____/| $$  / $$
| $$      | $$      | $$      |  $$/ $$/
| $$$$$   | $$      | $$$$$    \  $$$$/ 
| $$__/   | $$      | $$__/     >$$  $$ 
| $$      | $$      | $$       /$$/\  $$
| $$      | $$$$$$$$| $$$$$$$$| $$  \ $$
|__/      |________/|________/|__/  |__/
                                        */

.flex_parent
{
    display: flex;

    width: 100%;
    height: 100%;
}

#wrap_all
{
    margin: auto;
    width: 100%
}


/*
 /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$$ 
| $$__  $$| $$_____/ /$$__  $$| $$  /$$/|__  $$__//$$__  $$| $$__  $$
| $$  \ $$| $$      | $$  \__/| $$ /$$/    | $$  | $$  \ $$| $$  \ $$
| $$  | $$| $$$$$   |  $$$$$$ | $$$$$/     | $$  | $$  | $$| $$$$$$$/
| $$  | $$| $$__/    \____  $$| $$  $$     | $$  | $$  | $$| $$____/ 
| $$  | $$| $$       /$$  \ $$| $$\  $$    | $$  | $$  | $$| $$      
| $$$$$$$/| $$$$$$$$|  $$$$$$/| $$ \  $$   | $$  |  $$$$$$/| $$      
|_______/ |________/ \______/ |__/  \__/   |__/   \______/ |__/ 
*/

@media screen and (min-width: 450px)
{
    #logo
    {
        width: 20%;
        margin: 0 auto;
    }

    #toggle_button
    {
        display: none;
    }
}

/*
 /$$$$$$$$ /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$ 
| $$_____//$$__  $$| $$$ | $$|__  $$__//$$__  $$
| $$     | $$  \ $$| $$$$| $$   | $$  | $$  \__/
| $$$$$  | $$  | $$| $$ $$ $$   | $$  |  $$$$$$ 
| $$__/  | $$  | $$| $$  $$$$   | $$   \____  $$
| $$     | $$  | $$| $$\  $$$   | $$   /$$  \ $$
| $$     |  $$$$$$/| $$ \  $$   | $$  |  $$$$$$/
|__/      \______/ |__/  \__/   |__/   \______/ 
*/

.title-font
{
    font-family: 'Oleo Script', cursive;
    font-size: 4rem;
    /*font-weight: bold;*/
}

.h-font
{
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5rem;
}

.b-text
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.25rem;
}

p {

}
