@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Oleo+Script|Yanone+Kaffeesatz:200');

*
{
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-image: url("../img/tree_bark.png");
    background-repeat: repeat;
    
}

/*
 /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$      
| $$_____/| $$__  $$ /$$__  $$| $$$ | $$|__  $$__/      
| $$      | $$  \ $$| $$  \ $$| $$$$| $$   | $$         
| $$$$$   | $$$$$$$/| $$  | $$| $$ $$ $$   | $$         
| $$__/   | $$__  $$| $$  | $$| $$  $$$$   | $$         
| $$      | $$  \ $$| $$  | $$| $$\  $$$   | $$         
| $$      | $$  | $$|  $$$$$$/| $$ \  $$   | $$         
|__/      |__/  |__/ \______/ |__/  \__/   |__/      
*/

#logo
{
    width: 60%;
    margin: 0 auto;
    flex-shrink: 0;
}

#logo img
{
    width: 100%;
}

#title_wrap
{
    
    text-align: left;

    flex-shrink: 2;

    padding-left: 1rem;
    
}

#title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.center-text
{
    text-align: center;
}



/*
 /$$      /$$ /$$$$$$$$ /$$   /$$ /$$   /$$
| $$$    /$$$| $$_____/| $$$ | $$| $$  | $$
| $$$$  /$$$$| $$      | $$$$| $$| $$  | $$
| $$ $$/$$ $$| $$$$$   | $$ $$ $$| $$  | $$
| $$  $$$| $$| $$__/   | $$  $$$$| $$  | $$
| $$\  $ | $$| $$      | $$\  $$$| $$  | $$
| $$ \/  | $$| $$$$$$$$| $$ \  $$|  $$$$$$/
|__/     |__/|________/|__/  \__/ \______/ 
*/

#menu_toggle
{
    display: none;
}

#toggle_button
{
    position: fixed;
    bottom: -1px;
    left: -5px;

    width: 4rem;
}

#menu
{
    position: fixed;
    bottom: 63px;
    left: -5px;

    display: none;
}

#menu li
{
    width: 200px;
    margin: 10px;

    list-style: none;

    text-align: center;

    border-width: 15px;
    border-style: solid;
    border-color: #eee;
    border-radius: 100px;
    background-color: #eee;
    box-shadow: 2px 2px 5px #999;
}

#menu li a
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
}

#port_tab
{
    transform: translate(15px);
}

#about_tab
{
    transform: translate(30px);
}

#home_tab
{
    transform: translate(45px);
}

#menu_toggle:checked + #menu
{
    display: block;
}

#navlinks
{
    display: none;
}

.hr-wrap {
    display: none;
}

hr {
    display: none;
}


/*
 /$$$$$$$$ /$$       /$$$$$$$$ /$$   /$$
| $$_____/| $$      | $$_____/| $$  / $$
| $$      | $$      | $$      |  $$/ $$/
| $$$$$   | $$      | $$$$$    \  $$$$/ 
| $$__/   | $$      | $$__/     >$$  $$ 
| $$      | $$      | $$       /$$/\  $$
| $$      | $$$$$$$$| $$$$$$$$| $$  \ $$
|__/      |________/|________/|__/  |__/
                                        */

.flex_parent
{
    display: flex;

    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#wrap_all
{

    flex-shrink: 0;
    flex-grow: 0;

    margin: 0 auto;

    width: 100%;
}

#navlink_container {
    display: none;
}

/*
 /$$$$$$$$ /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$ 
| $$_____//$$__  $$| $$$ | $$|__  $$__//$$__  $$
| $$     | $$  \ $$| $$$$| $$   | $$  | $$  \__/
| $$$$$  | $$  | $$| $$ $$ $$   | $$  |  $$$$$$ 
| $$__/  | $$  | $$| $$  $$$$   | $$   \____  $$
| $$     | $$  | $$| $$\  $$$   | $$   /$$  \ $$
| $$     |  $$$$$$/| $$ \  $$   | $$  |  $$$$$$/
|__/      \______/ |__/  \__/   |__/   \______/ 
*/


.title-font
    {
        font-family: 'Oleo Script', cursive;
        font-size: 4rem;
        /*font-weight: bold;*/
    }

    .h-font
    {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.5rem;
        font-style: italic;
    }

    .b-text
    {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
    }

    #title-rest
    {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 3.5rem;
        float: left;
    }


a
{
    text-decoration: none;

    color: #000;
}



/*
 /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$$ 
| $$__  $$| $$_____/ /$$__  $$| $$  /$$/|__  $$__//$$__  $$| $$__  $$
| $$  \ $$| $$      | $$  \__/| $$ /$$/    | $$  | $$  \ $$| $$  \ $$
| $$  | $$| $$$$$   |  $$$$$$ | $$$$$/     | $$  | $$  | $$| $$$$$$$/
| $$  | $$| $$__/    \____  $$| $$  $$     | $$  | $$  | $$| $$____/ 
| $$  | $$| $$       /$$  \ $$| $$\  $$    | $$  | $$  | $$| $$      
| $$$$$$$/| $$$$$$$$|  $$$$$$/| $$ \  $$   | $$  |  $$$$$$/| $$      
|_______/ |________/ \______/ |__/  \__/   |__/   \______/ |__/ 
*/

@media screen and (min-width: 450px)
{
    #logo
    {
        width:20vh;
        margin: 0;
    }

    #toggle_button
    {
        display: none;
    }

    footer
    {
        font-size: 1.1rem;

        position: fixed;
        bottom: 0;
        left: 0;

        display: block;

        width: 100vw;
        padding: 10px;

        text-align: center;
    }

    #logo_wrap {
        width: 80%;

        margin: 0 auto;
        padding: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hr-wrap
    {
        display: block;

        padding: 1px;
        padding-bottom: 0px;
        width: 80%;
        margin: 0 auto;
        
        background-color: #000;
        height: 0px;
    }

    hr {
        display: block;
    }

    #rope_container {
        width: 100%;
        height: 20vh;
        padding-left: 9.5%;
        padding-right: 9.5%;

        display: flex;
        justify-content: space-around;
    }

    .rope {
        background-color: #000;
        height: 100%;
        width: 2px;

    }
    
    #navlink_container 
    {

        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        justify-content: space-around;
    }

    .link-wrap{
        width: 7rem;
        font-size: 2rem !important;
        text-align: center;
    }

    .link-wrap:hover {
        transform: translate(0, -5px);
    }

    .hover-shadow img:hover {
        -webkit-filter: drop-shadow(2px 2px 2px #555);
        filter: drop-shadow(2px 2px 2px #555);
    }

    #showcase_button {
        width: 9rem;
    }

    .title-font
    {
        font-family: 'Oleo Script', cursive;
        font-size: 7rem;
        /*font-weight: bold;*/
    }

    .h-font
    {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 3rem;
        font-style: italic;
    }

    .b-text
    {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.25rem;
    }

    #title-rest
    {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 6rem;
        float: left;
    }

}

