@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400|Oleo+Script+Swash+Caps|Josefin+Slab');

.frontCont {
    background-color: transparent;
    /* width: 80%; */

    display: flex;
    align-content: center;
}

.frontCont img {
    height: 13rem;
    display: inline-block;
}

.frontCont div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.frontCont div ul li {
    display: inline;
    width: 100%;
    
}

.nameText {
    font-size: 8rem;
    display: inline-block;

    padding-left: 10px;
}

.blueColor {
    color: #142c3d;
}

.whiteColor {
    color: white;
}

.titleFont {
    font-family: "Oleo Script Swash Caps", serif;
    font-weight: lighter;    
    margin: 0;
}

.linkFont {
    font-family: "Josefin Slab", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}