body {
    /* width: 100vw; */
    height: 100vh;
    background-color: #00adef;
    
    -webkit-transform: translate3d(0,0,0); /* odd background color bugfix */
}

header {
    display: flex;
    justify-content: center;

    padding-bottom: 15px;
    padding-top: 5px;
}

.portCont {
    width: 60vw;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    color: white;
    font-size: 3rem;
}

.portCont div {
    width: 20vw;
    height: 20vw;

    color: rgba(0, 0, 0, 0);
    
    transition: ease-in-out .2s;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
}

.portCont div img {
    position: absolute;
}

.portCont div div {
    padding: 20px;
    text-align: center;

    position: absolute;
    width: 100%;
    height: 100%;
}

.portCont div div:hover {
    color: white;
    background: rgba(0, 0, 0, .75);
}