@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day');

html {
	background-image: url("assets/background.png");
	font-size: 16px;
	height: 100%;
}

/* reset inherited styles because it's annoying me */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*
 /$$   /$$  /$$$$$$  /$$    /$$ /$$$$$$$   /$$$$$$  /$$$$$$$ 
| $$$ | $$ /$$__  $$| $$   | $$| $$__  $$ /$$__  $$| $$__  $$
| $$$$| $$| $$  \ $$| $$   | $$| $$  \ $$| $$  \ $$| $$  \ $$
| $$ $$ $$| $$$$$$$$|  $$ / $$/| $$$$$$$ | $$$$$$$$| $$$$$$$/
| $$  $$$$| $$__  $$ \  $$ $$/ | $$__  $$| $$__  $$| $$__  $$
| $$\  $$$| $$  | $$  \  $$$/  | $$  \ $$| $$  | $$| $$  \ $$
| $$ \  $$| $$  | $$   \  $/   | $$$$$$$/| $$  | $$| $$  | $$
|__/  \__/|__/  |__/    \_/    |_______/ |__/  |__/|__/  |__/
                                                              */

nav {
	margin-top: 2rem;
}

#navlinks {
	text-align: center;
}

#navlinks > * {
	vertical-align: top;
}

#navlinks ul li {
	display: inline-block;
}

#navlinks ul li img {
	mix-blend-mode: multiply;

	padding-left: 1vw;
	padding-right: 1vw;
}

#jlogo {
	width: 25vw;
}

#about_link, #blog_link {
	width: 12vw;

	padding: 2rem;
}


/*
 /$$$$$$$$ /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$        /$$$$$$$$ /$$       /$$$$$$$$ /$$      /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$ 
| $$_____/|_  $$_/| $$  / $$| $$_____/| $$__  $$      | $$_____/| $$      | $$_____/| $$$    /$$$| $$_____/| $$$ | $$|__  $$__//$$__  $$
| $$        | $$  |  $$/ $$/| $$      | $$  \ $$      | $$      | $$      | $$      | $$$$  /$$$$| $$      | $$$$| $$   | $$  | $$  \__/
| $$$$$     | $$   \  $$$$/ | $$$$$   | $$  | $$      | $$$$$   | $$      | $$$$$   | $$ $$/$$ $$| $$$$$   | $$ $$ $$   | $$  |  $$$$$$ 
| $$__/     | $$    >$$  $$ | $$__/   | $$  | $$      | $$__/   | $$      | $$__/   | $$  $$$| $$| $$__/   | $$  $$$$   | $$   \____  $$
| $$        | $$   /$$/\  $$| $$      | $$  | $$      | $$      | $$      | $$      | $$\  $ | $$| $$      | $$\  $$$   | $$   /$$  \ $$
| $$       /$$$$$$| $$  \ $$| $$$$$$$$| $$$$$$$/      | $$$$$$$$| $$$$$$$$| $$$$$$$$| $$ \/  | $$| $$$$$$$$| $$ \  $$   | $$  |  $$$$$$/
|__/      |______/|__/  |__/|________/|_______/       |________/|________/|________/|__/     |__/|________/|__/  \__/   |__/   \______/
*/



#lBorder, #rBorder, #arrow, #cStain {
	position: fixed;
}

#lBorder, #rBorder {
	width: 6vw;

	top: 20vw;
}

#lBorder  {
	left: 11vw;
}

#rBorder {
	left: 83vw;
}

#arrow {
	width: 2vw;
	right: 2vw;
	bottom: 2vw;
}

#cStain {
	width: 15vw;
	right: -7.5vw;
	bottom: -7vw;

	mix-blend-mode: multiply;

	z-index: -10;
}


/*
  /$$$$$$   /$$$$$$  /$$       /$$       /$$$$$$$$ /$$$$$$$  /$$     /$$
 /$$__  $$ /$$__  $$| $$      | $$      | $$_____/| $$__  $$|  $$   /$$/
| $$  \__/| $$  \ $$| $$      | $$      | $$      | $$  \ $$ \  $$ /$$/ 
| $$ /$$$$| $$$$$$$$| $$      | $$      | $$$$$   | $$$$$$$/  \  $$$$/  
| $$|_  $$| $$__  $$| $$      | $$      | $$__/   | $$__  $$   \  $$/   
| $$  \ $$| $$  | $$| $$      | $$      | $$      | $$  \ $$    | $$    
|  $$$$$$/| $$  | $$| $$$$$$$$| $$$$$$$$| $$$$$$$$| $$  | $$    | $$    
 \______/ |__/  |__/|________/|________/|________/|__/  |__/    |__/  
 */

 main {
 	margin: 0 auto;
 }

 .row {
 	margin-left: 17vw;
 }

.img_wrap {
	margin: 1vw;

	width: 20vw;
	height: 15vw;

 	float: left;
 	position: relative;

 	overflow: hidden;
}

 main img {
	position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    height: auto;
    width: 30vw;
 }